# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Backup / temp files
# =========================
*~
*.bak
*.tmp
*.swp

# =========================
# Lua bytecode (just in case)
# =========================
*.luac
